#controlsHide {
    display: none;
}

#controlsShow{
    display: flex;
}

.controls {
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.controlButton {
    height: 60px;
    width: 150px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 25px;
    border: 1px black solid;
    background-color: rgba(128, 128, 128, 0.5);
}

.totalPages {
    font-family: sans-serif;
}

.currentPage {
    margin-right: 10px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    width: 5%;
    text-align: center;
}

.currentPage::-webkit-outer-spin-button,
.currentPage::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.totalPages, .currentPage {
    font-size: 45px;
}