@media screen and (width < 600px) and (orientation : portrait) {

    .searchBar {
        width: 75%;
        padding-left: 15px;
    }

    .content__pictureBlock {
        width: 40%;
        max-width: 40%;
        margin: 5px;
    }

    .noResultsMessage {
        font-size: 35px;
    }

    .noScroll {
        padding-right: 0;
    }

    #Vector {
        scale: 1.75;
    }

    .modal__close {
        scale: 1.75;
        top: -20px;
        right: -20px;
    }

    .modal__close:hover {
        scale: 1.75;
    }

    .navBarDefault .searchBar {
        width: 75%;
    }
    
}

@media screen and (height < 450px) and (orientation : landscape) {

    body {
        overflow: auto;
    }

    html {
        padding: env(safe-area-inset);
    }

    .searchBar {
        width: 55%;
        margin: 10px auto;
        height: 40px;
    }

    .content {
        margin-bottom: 0px;
    }

    .modal__box {
        margin: 15px;
    }

    .noScroll {
        padding-right: 0;
    }

    .modal__close {
        top: -15px;
        right: -20px;
    }

    #Vector {
        scale: 0.75;
    }

    .modal__close:hover {
        scale: 0.75;
    }

    .navBarDefault .searchBar {
        width: 75%;
        height: 60px;
    }

}

@media screen and (width < 1000px) and (width > 800px) and (height > 450px) {
    .content__pictureBlock {
        width: 25%;
        max-width: 30%;
    }

    .navBarDefault .searchBar {
        width: 75%;
        height: 80px;
    }

    .searchBar {
        width: 70%;
    }

    .searchBar__inputField {
        font-size: 30px;
    }

    .modal__close {
        scale: 1.4;
    }
}