.searchBar {
    padding-left: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 2% auto;
    display: flex;
    justify-content: right;
    border-radius: 6px;
    width: 40%;
    height: 60px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2) inset;
}

.searchBar-inputField {
    background-color: inherit;
    border: none;
    outline: none;
    height: 95%;
    width: 90%;
    min-width: 75%;
    margin: auto 0px auto 0px;
    font-size: 25px;
    border-radius: 7px;
}

#searchBar-button {
    height: 100%;
    width: 20%;
    max-width: 70px;
    border: none;
    background-color: rgb(80, 120, 239);
    cursor: pointer;
    margin: none;
}

.searchBar-button__picture {
    height: 65%;
    aspect-ratio: 1/1;
}

.searchBar:hover{
    box-shadow: 0px 0px 5px 1px gray;
}

.searchBar-inputField{
    color: rgb(30, 30, 30);
}

.searchBar-inputField::-webkit-search-decoration,
.searchBar-inputField::-webkit-search-cancel-button,
.searchBar-inputField::-webkit-search-results-button,
.searchBar-inputField::-webkit-search-results-decoration {
  display: none;
}

.searchBar-inputField::placeholder{
    color: rgba(30, 30, 30, 0.5);
}

.searchBar-inputField:focus::placeholder{
    color: transparent;
}

.searchBar-inputField::-webkit-search-cancel-button{
    display: none;
}

.navBarDefault {
    height: 100vh;
}

.navBarDefault .searchBar{
    width: 35%;
    transform: translateY(-50%);
    margin: auto;
}